/* Общие стили */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background: linear-gradient(135deg, #56CCF2, #2F80ED); /* Градиентный фон */
    color: white;
    font-family: 'Arial', sans-serif;
    overflow: hidden;
    position: relative;
}

canvas {
    border: 3px solid #fff; /* Белая рамка для канваса */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Тень для канваса */
}

/* Контролы */
#controls {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

button {
    padding: 15px;
    font-size: 18px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    cursor: pointer;
    transition: transform 0.1s ease;
}

button:hover {
    transform: scale(1.1); /* Легкое увеличение при наведении */
}

/* Кнопка перезапуска */
#restartBtn {
    display: none;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 20px;
    background-color: #00FFFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.1s ease;
}

#restartBtn:hover {
    transform: scale(1.1); /* Легкое увеличение при наведении */
}

/* Счет */
#score {
    font-size: 24px;
    margin-top: 15px;
}

/* Декоративные элементы */
#backgroundElements {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    z-index: -1;
}

/* Эффект воды */
.waterEffect {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.2);
    animation: waveEffect 5s infinite linear;
}

@keyframes waveEffect {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 100% 100%;
    }
}

/* Листочки */
.leaf {
    position: absolute;
    background-color: #8BC34A;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    opacity: 0.7;
    animation: leafFall 10s infinite ease-in-out;
}

#leaf1 {
    top: 50px;
    left: 20%;
    animation-delay: 2s;
}

#leaf2 {
    top: 100px;
    left: 40%;
    animation-delay: 4s;
}

@keyframes leafFall {
    0% {
        transform: translateY(0) rotate(0deg);
    }
    50% {
        transform: translateY(300px) rotate(180deg);
    }
    100% {
        transform: translateY(600px) rotate(360deg);
    }
}
